<footer id="footer" role="contentinfo">
	{% if function('has_nav_menu', 'footer-support') or function('has_nav_menu', 'footer-services') or function('has_nav_menu', 'footer-resources') or function('has_nav_menu', 'footer-company') %}
	<div class="footer-nav">
		{% if function('has_nav_menu', 'footer-support') %}
		<nav class="footer-nav-section">
			{{ function('wp_nav_menu', {
				'theme_location': 'footer-support',
				'container': false,
				'fallback_cb': false,
				'depth': 1
			}) }}
		</nav>
		{% endif %}
		{% if function('has_nav_menu', 'footer-services') %}
		<nav class="footer-nav-section">
			{{ function('wp_nav_menu', {
				'theme_location': 'footer-services',
				'container': false,
				'fallback_cb': false,
				'depth': 1
			}) }}
		</nav>
		{% endif %}
		{% if function('has_nav_menu', 'footer-resources') %}
		<nav class="footer-nav-section">
			{{ function('wp_nav_menu', {
				'theme_location': 'footer-resources',
				'container': false,
				'fallback_cb': false,
				'depth': 1
			}) }}
		</nav>
		{% endif %}
		{% if function('has_nav_menu', 'footer-company') %}
		<nav class="footer-nav-section">
			{{ function('wp_nav_menu', {
				'theme_location': 'footer-company',
				'container': false,
				'fallback_cb': false,
				'depth': 1
			}) }}
		</nav>
		{% endif %}
	</div>
	{% endif %}
	<div id="copyright">
		&copy; {{ "now"|date("Y") }} {{ site.name }}
	</div>
</footer>
