{# /**
 * Card Simple Block Template
 *
 * @param string imageUrl     Card image URL
 * @param string imageAlt     Card image alt text
 * @param string title        Card title
 * @param string description  Card description
 * @param string iconGeo      Geo icon number (e.g. "01")
 */ #}

{% set image_url = attributes.imageUrl|default('') %}
{% set image_alt = attributes.imageAlt|default('') %}
{% set title = attributes.title|default('') %}
{% set description = attributes.description|default('') %}
{% set icon_geo = attributes.iconGeo|default('') %}

<article class="card-simple{% if icon_geo %} icon-{{ icon_geo }}{% endif %}">
	{% if icon_geo %}
		<div class="card-simple__icon" aria-hidden="true">
			{% include 'icons/geo/' ~ icon_geo ~ '.twig' %}
		</div>
	{% elseif image_url %}
		<img class="card-simple__image" src="{{ image_url }}" alt="{{ image_alt }}"/>
	{% endif %}
	{% if title %}
		<h3 class="card-simple__title">{{ title|wp_kses_post }}</h3>
	{% endif %}
	{% if description %}
		<p class="card-simple__description">{{ description|wp_kses_post }}</p>
	{% endif %}
</article>
