{% extends 'base.twig' %}

{% block header %}
    {{ function('do_blocks', '<!-- wp:observata/header /-->') }}
{% endblock %}

{% block content %}
    <div id="post-{{ post.ID }}" class="{{ post.class }} homepage-content">
        {{ content | raw }}
    </div>
{% endblock %}

{% block footer %}
    {{ function('do_blocks', '<!-- wp:observata/footer /-->') }}
{% endblock %}
