{% set logo_text = attributes.logo|default('Observata') %}

<header id="header" class="header">
    <div class="header-content">
        <div class="header-logo">
            <a href="{{ function('home_url', '/') }}"
                    title="{{ function('get_bloginfo', 'name')|esc_attr }}">
                <img src="{{ function('get_template_directory_uri') }}/assets/svg/logos/observata-blue-logo.svg"
                     alt="{{ function('get_bloginfo', 'name')|esc_attr }}"
                     class="logo-image">
            </a>
        </div>

        <div class="header-navigation">
            <nav id="menu" role="navigation"
                aria-label="{{ function('__', 'Primary Navigation', 'observata') }}">
                <ul class="menu-list">
                    {% if main_menu and main_menu.items %}
                        {% for item in main_menu.items %}
                            <li class="menu-item menu-item-{{ item.slug|esc_attr }}">
                                <a href="{{ item.link }}"><span>{{ item.title|esc_html }}</span></a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>