{% set media_url = attributes.mediaUrl|default('') %}
{% set card_title = attributes.cardTitle|default('') %}
{% set card_text = attributes.cardText|default('') %}
{% set link_url = attributes.linkUrl|default('') %}
{% set link_text = attributes.linkText|default('Learn more') %}

<article class="wp-block-observata-card">
	{% if media_url %}
		<div class="card-image-area">
			<img src="{{ media_url|esc_url }}" alt="" class="card-image" />
		</div>
	{% endif %}
	<div class="card-body">
		{% if card_title %}
			<h3>{{ card_title|wp_kses_post }}</h3>
		{% endif %}
		{% if card_text %}
			<p class="card-text">{{ card_text|wp_kses_post }}</p>
		{% endif %}
		{% if link_url %}
			<a href="{{ link_url|esc_url }}" class="card-link">{{ link_text|esc_html }}</a>
		{% endif %}
	</div>
</article>