{% set section_bg_colour = attributes.sectionBgColour|default('white') %}
{% set layout = attributes.layout|default('columns-2') %}
{% set content_layout = attributes.contentLayout|default('content') %}

<section
	class="section-block block-grid-flexible-content"
	data-bg="{{ section_bg_colour }}"
	style="--section-bg-colour: var(--surface-{{
	section_bg_colour
	}}); --layout: {{ content_layout }};"
	data-layout="{{ layout }}">
	<block-content class="block-content">
		{{ content|raw }}
	</block-content>
</section>
