{% set heading = attributes.heading|default('') %}
{% set subheading = attributes.subheading|default('') %}
{% set show_cta = attributes.showCta|default(false) %}
{% set cta_text = attributes.ctaText|default('') %}
{% set cta_url = attributes.ctaUrl|default('') %}
{% set section_bg_colour = attributes.sectionBgColour|default('white') %}

{# Use post slug for view-transition-name #}
{% set view_name = post.post_name|default('page') %}

<section class="block-section-hero-page"
aria-labeled-by="heading-section-hero-page">
	<div class="hero-page-content">
		{% if heading %}
			<h1
				id="heading-section-hero-page"
				class="heading-hero"
				style="view-transition-name: heading-{{ view_name }};">
				{{ heading|strip_html }}
			</h1>
		{% endif %}
		{% if subheading %}
			<p
				class="body-hero"
				style="view-transition-name: subheading-{{ view_name }};">
				{{ subheading|strip_html }}
			</p>
		{% endif %}
		{% if show_cta and cta_text and cta_url %}
			<a href="{{ cta_url|esc_url }}" class="cta-secondary cta-hero-page">
				<span>{{ cta_text|strip_html }}</span>
				{% include 'icons/lucide/arrow-right.twig' %}
			</a>
		{% endif %}
	</div>
</section>
