{% set section_title = attributes.sectionTitle|default('') %}
{% set intro_text = attributes.introText|default('') %}
{% set cta_text = attributes.ctaText|default('Discover how partnership works') %}
{% set cta_url = attributes.ctaUrl|default('#partnership-phase') %}
{% set phase1_number = attributes.phase1Number|default('01') %}
{% set phase1_title = attributes.phase1Title|default('The entry point') %}
{% set phase1_item_title1 = attributes.phase1ItemTitle1|default('Migration path') %}
{% set phase1_text1 = attributes.phase1Text1|default('Migrate from your current observability tool to Elastic at no extra cost.') %}
{% set phase1_item_title2 = attributes.phase1ItemTitle2|default('Optimisation path') %}
{% set phase1_text2 = attributes.phase1Text2|default('Our experts will audit your current set-up and optimise for success.') %}
{% set phase2_number = attributes.phase2Number|default('02') %}
{% set phase2_title = attributes.phase2Title|default('The partnership') %}
{% set phase2_item_title1 = attributes.phase2ItemTitle1|default('Partnership phase') %}
{% set phase2_text1 = attributes.phase2Text1|default("Once your environment is implemented and optimised, you'll move into Observata's continuous elevation of your observability. This is where the real value lives.") %}
{% set phase2_text2 = attributes.phase2Text2|default('Our experts will audit your current set-up and optimise for success.') %}

<section class="section-block block-partnership" data-threshold="0.9">
	{% include 'graphics/tech/swooping-lines.twig' %}
	<block-content class="block-content">
		{% include 'template/section-intro/section-intro.twig' with { 'attributes': { 'sectionTitle': section_title, 'introText': intro_text, 'textAlign': 'center' } } %}
		<block-body class="block-body">
			<article class="phase phase-one">
				<div class="phase-header">
					<h3 class="phase-title">{{ phase1_title }}</h3>
				</div>
				<div class="phase-content">
					<div class="phase-item">
						<h4 class="phase-item-title">{{ phase1_item_title1 }}</h4>
						<p class="phase-text">{{ phase1_text1 }}</p>
					</div>
					<div class="phase-item">
						<h4 class="phase-item-title">{{ phase1_item_title2 }}</h4>
						<p class="phase-text">{{ phase1_text2 }}</p>
					</div>
				</div>
			</article>
			<article class="phase phase-two">
				<div class="phase-header">
					<h3 class="phase-title">{{ phase2_title }}</h3>
				</div>
				<div class="phase-content">
					<div class="phase-item">
						<h4 class="phase-item-title">{{ phase2_item_title1 }}</h4>
						<p class="phase-text">{{ phase1_text2 }}</p>
					</div>
				</div>
			</article>
			{% if cta_text %}
				<a href="{{ cta_url|esc_url }}" class="cta-primary cta-partnership">
					<span>{{ cta_text|esc_html }}</span>
					{% include 'icons/lucide/arrow-right.twig' %}
				</a>
			{% endif %}
		</block-body>
	</block-content>
</section>
