{% set logo_text = attributes.logo|default('Observata') %}

<header id="header" class="header">
	<div class="header-content">
		<div class="header-logo">
			<a href="{{ function('home_url', '/') }}" title="{{ function('get_bloginfo', 'name')|esc_attr }}">
				<img src="{{ function('get_template_directory_uri') }}/assets/svg/logos/observata-blue-logo.svg" alt="{{ function('get_bloginfo', 'name')|esc_attr }}" class="logo-image">
			</a>
		</div>

		<div class="header-navigation">
			<nav id="menu" role="navigation" aria-label="{{ function('__', 'Primary Navigation', 'observata') }}">
				<ul class="menu-list">
					{% if main_menu and main_menu.items %}
						{% for item in main_menu.items %}
							{% if item.children %}
								<li class="menu-item menu-item-has-children menu-item-{{ item.slug|esc_attr }}">
									{% if item.link == '#' %}
										<button class="menu-link menu-link--placeholder" aria-haspopup="true" aria-expanded="false">
										{% else %}
											<a href="{{ item.link }}" class="menu-link" aria-haspopup="true" aria-expanded="false">
											{% endif %}
											<span>{{ item.title|esc_html }}</span>
											<svg class="menu-arrow" width="10" height="6" viewbox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1 1L5 5L9 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
											{% if item.link == '#' %}
											</button>
									{% else %}
										</a>
									{% endif %}
									<ul class="submenu">
										{% for child in item.children %}
											<li class="submenu-item menu-item-{{ child.slug|esc_attr }}">
												<a href="{{ child.link }}">{{ child.title|esc_html }}</a>
											</li>
										{% endfor %}
									</ul>
								</li>
							{% else %}
								<li class="menu-item menu-item-{{ item.slug|esc_attr }}">
									<a href="{{ item.link }}">
										<span>{{ item.title|esc_html }}</span>
									</a>
								</li>
							{% endif %}
						{% endfor %}
					{% endif %}
				</ul>
			</nav>
		</div>
		<button id="trigger-navigation" class="trigger-navigation">Open</button>
	</div>
</header>
