{% set locations = attributes.locations|default('Denmark | Sweden | Finland | Norway') %}
{% set copyright = attributes.copyright|default('© Observata AB 2026') %}
{% set contact_email = attributes.contactEmail|default('sales@observata.com') %}
{% set contact_address = attributes.contactAddress|default('Trade Center Halmstad Box 837 SE - 30118 Halmstad Sweden') %}

<footer class="footer" role="contentinfo">
	<block-content class="block-content">
		<footer-top class="footer-top">
			<div class="footer-contact">
				<a class="footer-logo" href="{{ function('home_url', '/') }}" title="{{ function('get_bloginfo', 'name')|esc_attr }}">
					{% include 'logos/logo-observata-white-logo.twig' %}
				</a>
				<article class="contact">
					<h4>Contact us</h4>
					<ul class="list-contact">
						<li class="list-item">
							<strong>Email:</strong>
							<span>
								<a class="anchor" href="mailto:{{ contact_email|esc_html }}">{{ contact_email|esc_html }}</a>
							</span>
						</li>
						<li class="list-item">
							<strong>Address:</strong>
							<span>{{ contact_address|esc_html }}</span>
						</li>
					</ul>
				</article>
			</div>
			<div class="footer-menus">
				{% if footer_support %}
					<div class="footer-menu-column">
						<h4>{{ footer_support.name|default('Support') }}</h4>
						<ul class="footer-menu-list">
							{% for item in footer_support.items %}
								<li class="footer-menu-item">
									<a class="footer-menu-link" href="{{ item.url }}">{{ item.title }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
				{% if footer_services %}
					<div class="footer-menu-column">
						<h4>{{ footer_services.name|default('Services') }}</h4>
						<ul class="footer-menu-list">
							{% for item in footer_services.items %}
								<li class="footer-menu-item">
									<a class="footer-menu-link" href="{{ item.url }}">{{ item.title }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
				{% if footer_resources %}
					<div class="footer-menu-column">
						<h4>{{ footer_resources.name|default('Resources') }}</h4>
						<ul class="footer-menu-list">
							{% for item in footer_resources.items %}
								<li class="footer-menu-item">
									<a class="footer-menu-link" href="{{ item.url }}">{{ item.title }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
				{% if footer_company %}
					<div class="footer-menu-column">
						<h4>{{ footer_company.name|default('Company') }}</h4>
						<ul class="footer-menu-list">
							{% for item in footer_company.items %}
								<li class="footer-menu-item">
									<a class="footer-menu-link" href="{{ item.url }}">{{ item.title }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</div>
		</footer-top>
		<footer-bottom class="footer-bottom">
			<div class="footer-locations">
				<p>{{ locations|esc_html }}</p>
			</div>
			<div class="footer-copyright">
				<p>{{ copyright|esc_html }}</p>
			</div>
		</footer-bottom>
	</block-content>
</footer>
