<div class="footer-contact">
	<a
		class="footer-logo"
		href="{{ function('home_url', '/')|esc_url }}"
		title="{{ function('get_bloginfo', 'name')|esc_attr }}">
		{% include 'logos/logo-observata-white-logo.twig' %}
	</a>
	<article class="contact">
		<h4 class="heading-xs">
			Contact us
		</h4>
		<ul class="list-contact">
			{% for label, value in contact_items %}
				<li class="body-sm list-item">
					<strong>{{ label }}:</strong>
					<span>
						{% if label == 'Email' %}
							<a class="anchor" href="mailto:{{ value|strip_html }}">
								{{ value|strip_html }}
							</a>
						{% else %}
							{{ value|strip_html }}
						{% endif %}
					</span>
				</li>
			{% endfor %}
		</ul>
	</article>
</div>
