{% set locations = attributes.locations|default('Denmark | Sweden | Finland | Norway') %}
{% set copyright = attributes.copyright|default('© Observata AB 2026') %}
{% set contact_email = attributes.contactEmail|default('sales@observata.com') %}
{% set contact_address = attributes.contactAddress|default('Trade Center Halmstad Box 837 SE - 30118 Halmstad Sweden') %}

<footer class="footer" role="contentinfo">
	<block-content class="block-content">
		<footer-top class="footer-top">
			<div class="footer-contact">
				<a class="footer-logo" href="{{ function('home_url', '/') }}" title="{{ function('get_bloginfo', 'name')|esc_attr }}">
					{% include 'logos/logo-observata-white-logo.twig' %}
				</a>
				<article class="contact">
					<h4>Contact us</h4>
					<ul class="list-contact">
						<li class="list-item">
							<strong>Email:</strong>
							<span>
								<a class="anchor" href="mailto:{{ contact_email|esc_html }}">{{ contact_email|esc_html }}</a>
							</span>
						</li>
						<li class="list-item">
							<strong>Address:</strong>
							<span>{{ contact_address|esc_html }}</span>
						</li>
					</ul>
				</article>
			</div>
		</footer-top>
		<footer-bottom class="footer-bottom">
			<div class="footer-locations">
				<p>{{ locations|esc_html }}</p>
			</div>
			<div class="footer-copyright">
				<p>{{ copyright|esc_html }}</p>
			</div>
		</footer-bottom>
	</block-content>
</footer>
