{% set locations = attributes.locations|default('Denmark | Sweden | Finland | Norway') %}
{% set copyright = attributes.copyright|default('© Observata AB 2026') %}
{% set contact_email = attributes.contactEmail|default('sales@observata.com') %}
{% set contact_address = attributes.contactAddress|default('Trade Center Halmstad Box 837 SE - 30118 Halmstad Sweden') %}

<footer class="footer" role="contentinfo">
	<block-content class="block-content">
		<footer-top class="footer-top">
			<div class="footer-contact">
				<div class="footer-logo">
					<a href="{{ function('home_url', '/') }}" title="{{ function('get_bloginfo', 'name')|esc_attr }}">
						<img src="{{ function('get_template_directory_uri') }}/assets/svg/logos/observata-white-logo.svg" alt="{{ function('get_bloginfo', 'name')|esc_attr }}" class="logo-image">
					</a>
				</div>
				<div class="footer-contact-item">
					<p class="footer-label">Email</p>
					<p class="footer-value">
						<a href="mailto:{{ contact_email|esc_html }}">{{ contact_email|esc_html }}</a>
					</p>
				</div>

				<div class="footer-contact-item">
					<p class="footer-label">Address</p>
					<p class="footer-value">{{ contact_address|esc_html }}</p>
				</div>
			</div>
			<div class="footer-links"></div>
		</footer-top>
		<footer-bottom class="footer-bottom">
			<div class="footer-locations">
				<p>{{ locations|esc_html }}</p>
			</div>
			<div class="footer-copyright">
				<p>{{ copyright|esc_html }}</p>
			</div>
		</footer-bottom>
	</block-content>
</footer>
