{% set heading = attributes.heading|default('') %}
{% set card_one_title = attributes.cardOneTitle|default('') %}
{% set card_one_text = attributes.cardOneText|default('') %}
{% set card_one_icon = attributes.cardOneIcon|default('01') %}
{% set card_two_title = attributes.cardTwoTitle|default('') %}
{% set card_two_text = attributes.cardTwoText|default('') %}
{% set card_two_icon = attributes.cardTwoIcon|default('02') %}
{% set graphic = attributes.graphic|default('connected-dots') %}

<section class="block-intro-page">
	<canvas id="subpage-shader" class="subpage-shader"></canvas>
	<block-content class="block-content">
		<article class="intro-page-card">
			<div class="intro-page-card-icon">
				<img src="{{ function('get_template_directory_uri') }}/assets/svg/geo/{{ card_one_icon }}-icon-geo.svg" alt="" aria-hidden="true"/>
			</div>
			<div class="intro-page-card-body">
				<h3 class="intro-page-card-title">{{ card_one_title|wp_kses_post }}</h3>
				<p class="intro-page-card-text">{{ card_one_text|wp_kses_post }}</p>
			</div>
		</article>
		<article class="intro-page-card">
			<div class="intro-page-card-icon">
				<img src="{{ function('get_template_directory_uri') }}/assets/svg/geo/{{ card_two_icon }}-icon-geo.svg" alt="" aria-hidden="true"/>
			</div>
			<div class="intro-page-card-body">
				<h3 class="intro-page-card-title">{{ card_two_title|wp_kses_post }}</h3>
				<p class="intro-page-card-text">{{ card_two_text|wp_kses_post }}</p>
			</div>
		</article>
	</block-content>
</section>
